/*
# ------------------------------------------------------------------------
# JA T3 System plugin for Joomla 1.6
# ------------------------------------------------------------------------
# Copyright (C) 2004-2009 J.O.O.M Solutions Co., Ltd. All Rights Reserved.
# @license - GNU/GPL, http://www.gnu.org/licenses/gpl.html
# Author: J.O.O.M Solutions Co., Ltd
# Websites: http://www.joomlart.com - http://www.joomlancers.com
# ------------------------------------------------------------------------
*/

/* Using CSS3 for some visual enhancements.
(Will be degraded nicely for non-CSS3 browsers.)
-------------------------------------------------------------*/

/* ------------------- */
/* -- usertools.css -- */
/* ------------------- */

#ja-cpanel {
	box-shadow: 0 1px 5px rgba(0,0,0,.5);
	-moz-box-shadow: 0 1px 5px rgba(0,0,0,.5);
	-webkit-box-shadow: 0 1px 5px rgba(0,0,0,.5);

}

.ja-cpanel-tools {
	overflow-y: scroll;
}

a#ja-cpanel-toggle {
	box-shadow: 0 1px 3px rgba(0,0,0,.5);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.5);
	text-shadow: 0 1px 1px rgba(0,0,0,.9);
}

#ja-cpanel-toggle.open {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

.ja-cpanel-action {
	box-shadow: 0 -1px 3px rgba(0, 0, 0, .5);
	-moz-box-shadow: 0 -1px 3px rgba(0, 0, 0, .5);
	-webkit-box-shadow: 0 -1px 3px rgba(0, 0, 0, .5);
}

.ja-cpanel-action a.button {
	box-shadow: 0 0 3px rgba(0,0,0,.8);
	-moz-box-shadow: 0 0 3px rgba(0,0,0,.8);
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,.8);
}

.ja-cpanel-action a.button:hover {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

/* ------------------- */
/* -- template.css --- */
/* ------------------- */

/* MISCELLANOUS
----------------------------------------------------------- 
/* Others ---*/
a.ja-cpanel-video {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 0 0 3px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 0 3px rgba(0, 0, 0, .2);
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .2);
}