/*
# ------------------------------------------------------------------------
# JA T3 System plugin for Joomla 1.6
# ------------------------------------------------------------------------
# Copyright (C) 2004-2009 J.O.O.M Solutions Co., Ltd. All Rights Reserved.
# @license - GNU/GPL, http://www.gnu.org/licenses/gpl.html
# Author: J.O.O.M Solutions Co., Ltd
# Websites: http://www.joomlart.com - http://www.joomlancers.com
# ------------------------------------------------------------------------
*/

/* COMMON STYLE
--------------------------------------------------------- */
body {
	background: #ffffff;
	color: #000000;
	font-family: sans-serif;
	line-height: 1.5;
}

body#bd { background: #ffffff; color: #000000; font-size: 12px;}

body.fs1 #ja-wrapper { font-size: 80%; }
body.fs2 #ja-wrapper { font-size: 90%; }
body.fs3 #ja-wrapper { font-size: 100%; }
body.fs4 #ja-wrapper { font-size: 110%; }
body.fs5 #ja-wrapper { font-size: 120%; }
body.fs6 #ja-wrapper { font-size: 130%; }

/* Normal links ---*/
a {}

a:hover, a:active, a:focus { }

/* Content spacing ---*/
.column p, .column pre, .column blockquote,
.column h1, .column h2, .column h3, .column h4, .column h5, .column h6,
.column ol, .column ul, .column dl { margin: 15px 0; padding: 0; }

/* Headings & Titles ---*/
h1 { font-size: 180%; }
h2 { font-size: 150%; }
h3 { font-size: 125%; }
h4 { font-size: 100%; text-transform: UPPERCASE; }
h5 { font-size: 100%; }

.contentheading, .componentheading, h1, h2, h3, h4, h5 { line-height: 1.2; }

h1.componentheading, .componentheading { margin: 0; padding: 0 0 4px; }

.componentheading { }

h1.contentheading, h2.contentheading, .contentheading { margin: 0; padding: 0 0 5px; }

.contentheading { }

.blog-featured .contentheading { }

.contentheading a,
.contentheading a:hover,
.contentheading a:active,
.contentheading a:focus { }

.jitem-title { }

/* Small text ---*/
small, .small, .smalldark, .small-text, .article-tools,
.img_caption, .contenttoc, p.site-slogan, a.readon, #ja-navhelper, #ja-footer { font-size: 92%; }

small, .small { }

.smalldark { text-align: left; }

/* Readon links ---*/
p.readmore { margin: 0; }

p.readmore a {}

p.readmore a:hover, p.readmore a:active, p.readmore a:focus {}

/* Others ---*/
hr {
	border-bottom: 0;
	border-left: 0;
	border-right: 0;
	border-top: 1px solid;
	height: 1px;
}

/* FORM
--------------------------------------------------------- */
form label { cursor: pointer; }

input, select, textarea, .inputbox { font-size: 100%; }

.inputbox { }

.inputbox:hover, .inputbox:focus { }

.button { }

.button:hover, .button:focus { }

.checkbox { }

.radio { }

fieldset { border: none; margin: 0; padding: 5px 0; }

legend {	font-size: 125%; font-weight: bolder; line-height: 1.2; }

fieldset dt {
	clear: both;
	float: left;
	min-width: 160px;
	margin: 0 10px 10px 0;
}

fieldset dd {
	margin: 0 0 10px;
}

/* Login ---*/
.login_form fieldset,
.login fieldset { padding: 15px 0 0; }

.login_form fieldset p,
.login fieldset p { margin: 0 0 5px; }

.login_form label,
.login label {
	display: block;
	float: left;
	font-weight: bold;
	text-align: right;
	width: 130px;
}

.login-fields {
	margin: 0 0 10px;
}

.login_form .inputbox,
.login-fields .required { margin-left: 10px; width: 150px; }

.login_form .remember .inputbox { width: 20px; }

.login_form .button,
.login button { margin-left: 140px; }

/* Register ---*/
.form-register fieldset { padding: 0 0 10px; }

.form-register p { margin: 0 0 5px; }

.form-register p.form-des { margin: 15px 0; }

.form-register label {
	display: block;
	float: left;
	font-weight: bold;
	text-align: right;
	width: 130px;
}

.form-register .inputbox { margin-left: 10px; width: 200px; }

.form-register .button { margin-left: 140px; }

/* User ---*/
.user-details { padding: 10px 0; }

.user-details p { margin: 0 0 5px; }

.user-details label {
	display: block;
	float: left;
	font-weight: bold;
	text-align: right;
	width: 130px;
}

.user-details .inputbox { margin-left: 10px; width: 200px; }

.user-details .button { margin-left: 140px; }

.user-details .paramlist .paramlist_key { padding: 0 0 5px; width: 130px; }

.user-details .paramlist .paramlist_value { padding: 0 0 5px; }

.user-details .user_name span { font-weight: bold; padding-left: 10px; }

/* Search ---*/
form#searchForm { padding: 15px 0; }

.searchintro { }

.results h4 { margin: 15px 0 0; }

.results p { margin: 0 0 10px; }

.search fieldset {
	border: 1px solid #F0F0F0;
	margin: 25px 0 15px;
	padding: 10px;
}

.search fieldset legend {
	font-size: 100%;
}

.search .phrases-box {
	margin: 0 0 10px;
}

.search .word button {
	margin-left: 5px;
	height: 23px;
}

.search .word .inputbox {
	vertical-align: top;
}

.search .word label {
	vertical-align: bottom;
}

/* Contact ---*/
#component-contact address { font-style: normal; }

#component-contact #emailForm {}

.contact_email { margin: 0 0 10px; }

.contact_email div {
	padding: 5px 0;
}

.contact_email label {
	display: block;
	font-weight: bold;
	float: left;
	width: 17em;
}

.contact_email-copy { margin: 15px 0; }

.contact-email-copy label {
	display: inline;
}

/* Display Contact ---*/

/* Slider */

.panel {
	border: solid 1px #ddd;
	margin-top: -1px;
}

#ja-content-main .contact .panel h3 {
	margin: 0;
	padding: 0;
	background: #eee;
	border: 0;
}

.panel h3 a {
	display: block;
	padding: 6px;
	text-decoration: none;
	color: #444;
	padding: 6px;
}

.panel h3.pane-toggler a {
	background: #f5f5f5;
}

.panel h3.pane-toggler-down a {
	background: #f5f5f5;
	border-bottom: solid 1px #ddd;
}

.jpane-slider,
.pane-slider {
	border: solid 0px;
	padding: 0px 15px !important;
	margin: 0;
}

.panel .contact-form,
.panel  .contact-miscinfo {
	padding: 10px;
}

.contact .panel .contact-form form,
.contact .panel .contact-address {
	margin: 15px 0 0 0;
}

.contact-image {
	margin: 15px 0;
	overflow: hidden;
	display: block;
}

.categories-list .category-desc ul li { list-style-type: square; }

/* Tabs */
div.current {
	border: 1px solid #CCCCCC;
	clear: both;
	max-width: 500px;
	padding: 10px;
}

#close a { text-decoration: none; }

#contact-slider.tabs {
	clear: both;
	float: left;
	margin: 50px 0 0;
	z-index: 50;
}

#contact-slider.tabs dt {
	background: #F0F0F0;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-top: 1px solid #CCCCCC;
	color: #666666;
	float: left;
	margin-right: 3px;
	padding: 4px 10px;
}

#contact-slider.tabs dt.open {
	background: #F9F9F9;
	border-bottom: 1px solid #F9F9F9;
	color: #000000;
	z-index: 100;
}

#contact-slider.tabs dt h3 {
	margin: 0;
	padding-bottom: 0;
	border-bottom: 0;
}

/* contact  plain */
#ja-content-main .contact h3 {
	border-bottom: solid 1px #ddd;
	margin: 20px 0;
	padding-bottom: 15px;
}

.form-required {
	font-weight: bold;
	margin: 10px 0;
	background: #fff url(http://www.iacusn.org/Nationals/plugins/system/jat3/jat3/base-themes/default/images/req.png) no-repeat;
	padding: 10px 40px;
}

.contact .inputbox {
	background: #fff url(http://www.iacusn.org/Nationals/plugins/system/jat3/jat3/base-themes/default/images/content_bg.gif) repeat-x;
	border: solid 1px #ccc;
	padding: 3px;
}

/*Encyclopedia*/
div.encyclopedia_col1 {
	width:49%;
	float:left;

}
div.encyclopedia_col1 p.img_caption {
	font-size: .6em;
}

div.encyclopedia_col2 {
	width:49%;
	float:right;
	padding-left:3px;
	margin-left: 2px;	
} 

div.encyclopedia_col2 p {
	padding-left:3px;
	margin-left: 2px;	
} 

div.encyclopedia_links ul {
	display: block;
	margin: 0px 0px 1px 0px;
	list-style-type: none;
	padding: 10px 0px 10px 0px;
	width: 100%;
}
div.encyclopedia_links ul li {
	display: inline;
	padding: 2px;
	margin: 2px;
	white-space: nowrap;
}

/* JOOMLA STYLE
--------------------------------------------------------- */
/* Layout Deco ---*/
.blog { }

.item-separator, .row-separator { display: none; }

/*Leading*/
.items-leading { padding-top: 10px; }
.items-leading .leading { padding-bottom: 10px; }

/*Articles grids*/
.items-row { padding-bottom: 15px; padding-top: 15px; }

.item {}

/* Meta ---*/
.article-tools { clear: both; display: block; position: relative; }

dl.article-info { float: left; padding: 0; margin: 0; width: 70%; text-transform: none; }

dl.article-info dd, dl.article-info dt {
	padding: 0 5px 0 0;
	margin: 0;
	display: inline;
}

dd.parent-category-name {}

dd.category-name {}

dd.create { padding-right: 5px; }

dd.createdby { padding-right: 5px; }

dd.hits { padding-right: 5px; }

p.article-url  { margin: 10px 0 0; }

p.modifydate { margin: 10px 0 0; }

.contentdescription { display: block; padding: 10px 15px; }

.contentdescription p { margin: 0; }

ul.actions { float: right; margin: 0; padding: 0; }

ul.actions li {
	display: inline;
	background: none;
	padding: 0;
	margin: 0;
	line-height: 1;
}

ul.actions li img { border: 0; margin: 0 5px 0 0; }

/* Article ---*/
.article-content { overflow: hidden; }

/* Category List ---*/
.categories-list {}
.categories-list h1 {}
.categories-list ul {}
div.categories-list ul li {
	background: none;
	padding-left: 0;
}
.categories-list ul li span.item-title {}
.categories-list li span.item-title a {}

div.categories-list dl.article-count dt,
div.categories-list dl.article-count dd {
	display: inline;
}

div.categories-list dl.article-count dd {
	margin-left: 0;
}

div.categories-list ul li ul {
	margin-left: 15px;
}

div.categories-list ul li li {
	border-bottom: 1px solid #ccc;
	background: #f2f2f2;
	padding: 10px;
}

div.categories-list ul li li li {
	background: #ddd;
}

div.categories-list ul li li.last {
	border-bottom: 0;
}
/* Sub Category List ---*/
.cat-children {}
.cat-children h3 {}
.cat-children ul {}
.cat-children ul li {}
.cat-children ul li span.item-title {}
.cat-children ul li span.item-title a {}

/*Inline images ---*/
.img_caption { margin-top: 10px; margin-bottom: 10px; }

.img_caption.left { margin-right: 10px; }

.img_caption.right { margin-left: 10px; }

p.img_caption { clear: both; margin: 0; padding: 0; text-align: center; }

/* Tables ---*/
th { font-weight: bold; padding: 5px; text-align: left; }

td { font-size: 100%; padding: 5px; }

thead tr th { }

thead tr th a,
thead tr th a:hover,
thead tr th a:focus,
thead tr th a:active { }

.cat-list-row2,
.cat-list-row1,
tr.cat-list-row2 td,
tr.cat-list-row1 td {
	border-color: #ddd;
}

.cat-list-row2:hover,
.cat-list-row2:hover {}

.cat-list-row2,
tr.cat-list-row2 td {}

table.contentpane, table.tablelist, table.category { width: 100%; }

table.contentpaneopen { border: none; border-collapse: collapse; border-spacing: 0; }

/* Content Toc */
table.contenttoc { float: right; margin: 0 0 10px 12px; padding: 0; width: 30%; }

table.contenttoc a { }

table.contenttoc td { padding: 5px 10px; }

table.contenttoc th { padding: 5px 10px; }

/* Poll */
div.poll { padding: 15px 0; }

form#poll { margin-bottom: 10px; padding-bottom: 10px; }

dl.poll { font-size: 92%; margin-bottom: 10px; padding-bottom: 10px; }

dl.poll dt, dl.poll dd { float: left; }

dl.poll dt { clear: left; width: 100px; }

dl.poll dd { clear: right; width: 400px; }

table.pollstableborder { border: none; padding: 0; text-align: left; width: 100%; }

table.pollstableborder img { vertical-align: baseline; }

table.pollstableborder td { }

table.pollstableborder tr.sectiontableentry0 td,
table.pollstableborder tr.sectiontableentry1 td { }

/* Search */
table.searchintro { padding: 10px 0; width: 100%; }

table.searchintro td { }

/* Misc. */
table.contentpaneopen, table.contentpane, table.blog { width: 100%; }

/* Pagination ---*/
.pagination ul,
ul.pagenav { float: left; margin: 10px 0; }

.pagination ul li,
ul.pagenav li {
	background: none;
	display: block;
	float: left;
	margin: 0;
	overflow: hidden;
	padding: 0;
}

.pagination ul li span.pagenav,
.pagination ul li a.pagenav,
ul.pagenav li a { padding: 0 5px; }

.pagination ul a.pagenav { }

.pagination ul a.pagenav:hover,
.pagination ul a.pagenav:active,
.pagination ul a.pagenav:focus { }

.ja-content-main fieldset.filters { font-size: 92%; margin: 10px 0 5px; }
.ja-content-main .display-limit { font-size: 92%; margin: 10px 0 5px; }
.ja-content-main fieldset.filters .filter-search,
.ja-content-main fieldset.filters .display-limit { float: left; width: 40%; }

.ja-content-main fieldset.filters .display-limit { float: right; text-align: right; }

.ja-content-main .pagenavbar { font-weight: bold; }

.ja-content-main .pagenavcounter { margin: 15px 0; text-align: center; }

.ja-content-main .counter {
	float: right;
	line-height: 1;
	margin: 15px 0;
	text-align: right;
}

.ja-content-main .counter span { }

.items-more { padding: 15px 0 5px; }

.items-more h3 { margin: 0 0 5px; }

.items-more ol {}

div.back_button a,
div.back_button a:hover,
div.back_button a:active { display: block; margin: 10px 0; }

/* Messages ---*/
#system-message {}

#system-message dd.message ul,
#system-message dd.error ul,
#system-message dd.notice ul { margin: 0; padding: 0; }

#system-message dd.message ul li,
#system-message dd.error ul li,
#system-message dd.notice ul li { background: none; margin: 0; padding: 5px; }

/* System Standard Messages */
#system-message dd.message ul { }

/* System Error Messages */
#system-message dd.error ul { }

/* System Notice Messages */
#system-message dd.notice ul { }

/* Tooltips --- */
.items-row.cols-2 .column-2 .contentpaneopen_edit {
	padding-left: 15px;
}

.tip-wrap {
	background: #ffffcc;
	border: 1px solid #e2e2b5;
	z-index: 999;
}

.tip-title { font-weight: bold; padding: 5px 10px; border-bottom: 1px solid #e2e2b5; }

.tip-text { font-size: 100%; margin: 0; padding: 5px 10px; }

.hasTip img { border: none; margin: 0 5px 0 0; }

.contentpaneopen_edit img { vertical-align: middle; }

/* Edit page */

.edit fieldset {
	border: 1px solid #F0F0F0;
	margin: 25px 0 15px;
	padding: 10px;
}

.edit .formelm {
	margin: 0 0 10px;
}

.edit .formelm label {
	min-width: 100px;
	font-weight: bold;
}

.edit .formelm-buttons,
.edit .formelm-area {
	margin: 0 0 10px;
}

.edit .formelm-area label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
}

/* MODULE STYLES
--------------------------------------------------------- */
div.ja-moduletable h3, div.moduletable h3 { margin: 0 0 8px; overflow: hidden; padding: 0 0 5px; }

div.moduletable_menu h3 { margin-bottom: 0; }

div.ja-moduletable, div.moduletable {
	margin-bottom: 10px;
	margin-top: 10px;
	padding: 0 0 20px;
	position: relative;
}

/* Rounded Module --- */
div.ja-module h3, div.module h3 { margin: 0 0 10px; overflow: hidden; padding: 8px 0; }

div.ja-module, div.module { margin-bottom: 20px; position: relative; overflow: hidden; }

/* Badge Module ---*/
.badge {
	background-image: url(../images/icon-badge.png);
	background-repeat: no-repeat;
	height: 46px;
	position: absolute;
	right: 0;
	top: 0;
	width: 45px;
}

.badge-hot 	.badge { background-position: 0 0; }

.badge-new 	.badge { background-position: 0 -46px; }

.badge-pick .badge { background-position: 0 -92px; }

.badge-top 	.badge { background-position: 0 -138px; }

/* Search Module ---*/
#ja-search { bottom: 15px; position: absolute; right: 0; }

#ja-search label { display: none; }

#ja-search .inputbox { }

#ja-search .inputbox:hover, #ja-search .inputbox:focus { }

#ja-search .button { }

/* Login Module ---*/
#form-login-username .inputbox,
#form-login-password .inputbox {
	background-position: 5px center;
	background-repeat: no-repeat;
	font-weight: bold;
}

#form-login-username .inputbox, #form-login-password .inputbox {}

#form-login ul { margin: 0 !important; padding: 0; }

#form-login p { margin: 0 0 5px; }

#form-login .button { margin: 10px 0; }

/* Poll Module ---*/
h4.poll-title { margin: 0; padding: 0; }

a.poll-result { font-size: 92%; text-transform: uppercase; }

form.poll .button { margin-right: 5px; }

/* Advertisement ---*/
div.bannergroup_text div.banneritem_text { padding: 5px 0; }

div.bannergroup_text div.banneritem_text a { font-weight: bold; }

div.bannergroup_text div.bannerheader,
div.bannergroup_text div.bannerfooter_text a { font-size: 92%; }

div.bannergroup_text div.bannerfooter_text { padding: 5px 0 0; text-align: right; }

div.bannergroup { margin-bottom: 10px; }

/* text */
div.module_text h3 { }

div.module_text span { clear: both; display: block; float: left; }

div.module_text { }

div.module_text .ja-box-bl { }

div.module_text .ja-box-tr { }

div.module_text .ja-box-tl { }

/* Blank */
div.module_noborder,
div.module_noborder .ja-box-bl,
div.module_noborder .ja-box-tr,
div.module_noborder .ja-box-tl { background: none; padding: 0; }

/* Module list ---*/


/* Collapsible h3 ---*/
h3.show {
	background: url(../images/icon-show.png) no-repeat 100% 60%;
	cursor: pointer;
}

h3.hide {
	background: url(../images/icon-hide.png) no-repeat 100% 60%;
	cursor: pointer;
}

/* Uncomment the following lines if you want collapsible modules with badges still show arrows */
/* 
.badge-hot h3.show,.badge-new h3.show,.badge-pick h3.show,.badge-top h3.show,
.badge-hot h3.hide,.badge-new h3.hide,.badge-pick h3.hide,.badge-top h3.hide {
	background-position: 15px 60%;
	text-indent: 15px;
}
*/

/* Languages Module */
div.ja-moduletable .mod-languages ul, 
div.ja-module .mod-languages ul {
	margin: 0;
}

div.ja-moduletable .mod-languages ul li, 
div.ja-module .mod-languages ul li {
	background: none;
	padding: 0;
	margin-right: 5px;
	display: inline-block;
}

/* MAIN LAYOUT DIVS
--------------------------------------------------------- */
.wrap { }

.main { }

.ja-box { }

#ja-wrapper { }

#ja-container { position: relative; z-index: 5; }

#ja-container .main { }

/* 3 Columns - Classic Layout ---*/
#ja-container.ja-l1r1 { }

/* Full */
#ja-container { }

/* Full left */
#ja-container.ja-r1 { }

/* Full right */
#ja-container.ja-l1 { }

/* Mass ---*/
.ja-mass-top { }

.ja-mass-top .ja-moduletable, .ja-mass-top .ja-module { margin-left: 0; margin-right: 0; }

.ja-mass-bottom { }

.ja-mass-bottom .ja-moduletable, .ja-mass-bottom .ja-module { margin-left: 0; margin-right: 0; }

/* MAIN COLUMN
--------------------------------------------------------- */
#ja-mainbody { }

#ja-main .inner { }

#ja-contentwrap { }

/* Content Top ---*/
.ja-content-top { }

#ja-content-top .ja-moduletable, #ja-content-top .ja-module { margin-left: 0; margin-right: 0; }

/* Content Main ---*/
.ja-content-main { margin-bottom: 20px; }

/* Content Bottom ---*/
.ja-content-bottom { }

#ja-content-bottom .ja-moduletable, #ja-content-bottom .ja-module { margin-left: 0; margin-right: 0; }
/* @end */
/* SIDE COLUMNS
--------------------------------------------------------- */
.ja-colswrap { }

.ja-col { }

/* Left Columns ---*/
#ja-left .ja-l2 { }

/* Right Columns ---*/
#ja-right .ja-r2 { }

/* HEADER
--------------------------------------------------------- */
#ja-header { position: relative; z-index: 10; }

#ja-header .main { padding: 30px 0 15px; }

h1.logo, div.logo-text h1 { }

h1.logo, div.logo-text { float: left; position: relative; z-index: 1; }

/* Logo Image ---*/
h1.logo { height: 28px; width: 184px; }

h1.logo a {
	background: url(../images/logo-t3.gif) no-repeat left;
	display: block;
	height: 28px;
	width: 184px;
}

h1.logo a span { position: absolute; top: -1000px; }

/* Logo Text ---*/
div.logo-text { margin-top: 8px; }

div.logo-text h1 a { text-decoration: none; }

p.site-slogan { display: block; font-size: 85%; margin: 8px 0 0; padding: 0 5px; }

/* NAVIGATION
--------------------------------------------------------- */
/* Main Nav ---*/
#ja-mainnav { line-height: 1; position: relative; z-index: 11; }

#ja-mainnav .main { }

span.has-image {
	background-position: left 1px;
	background-repeat: no-repeat;
	display: block;
	overflow: hidden;
	padding-left: 25px;
}

span.menu-title { display: block; cursor: pointer; }

span.menu-desc { display: block; font-size: 92%; font-weight: normal; }

/* Breadcrumbs ---*/
#ja-navhelper { }

#ja-navhelper .main { padding: 5px 0; }

#ja-navhelper a { padding: 0 2px; }

#ja-navhelper a:hover, #ja-navhelper a:active, #ja-navhelper a:focus { }

.ja-breadcrums { float: left; margin-top: 2px; width: 80%; }

.ja-breadcrums strong { margin-right: 5px; }

.ja-breadcrums img { margin: 1px 5px; }

/* Extras ---*/
.ja-links { float: right; margin-top: 2px; }

.ja-links li { background: none; display: inline; padding: 0; }

.ja-links li.top a { }

.ja-links li.top a:hover { }

.ja-links li.layout-switcher a { }

.ja-links li.layout-switcher a:hover { }

.ja-links li.user-reset a { }

.ja-links li.user-reset a:hover { }

/* Default Joomla! Menu ---*/
#ja-container ul.menu { margin: 0; padding: 0; }

#ja-container ul.menu li { background: none; margin: 0; overflow: hidden; padding: 0; }

#ja-container ul.menu li a { display: block; outline: none; padding: 6px 0; }

#ja-container ul.menu li a:hover,
#ja-container ul.menu li a:active,
#ja-container ul.menu li a:focus { }

#ja-container ul.menu li.active a { font-weight: bold; }

#ja-container ul.menu li ul { margin: 0 0 0 10px; }

#ja-container ul.menu li li { background: url(../images/arrow.png) no-repeat left 11px; }

#ja-container ul.menu li li a { font-weight: normal; text-indent: 10px; }

#ja-container ul.menu li li a:hover,
#ja-container ul.menu li li a:active,
#ja-container ul.menu li li a:focus { background: none; }

#ja-container ul.menu li.active > a { font-weight: bold; }

#ja-container ul.menu span.separator { display: none; }

/* SPOTLIGHT
--------------------------------------------------------- */
#ja-topsl .ja-box, #ja-botsl .ja-box { padding: 0; }

#ja-topsl .ja-box-right, #ja-botsl .ja-box-right,
#ja-topsl .ja-box-full, #ja-botsl .ja-box-full { background: none; }

#ja-topsl .ja-moduletable, #ja-botsl .ja-moduletable { margin-bottom: 20px; margin-top: 0; padding-bottom: 0; padding-top: 0; }

#ja-topsl li, #ja-botsl li { background-position: 1px 6px; padding-left: 10px; }

#ja-topsl ol li, #ja-botsl ol li { margin-left: 25px; padding: 0; }

#ja-topsl ul, #ja-topsl p, #ja-topsl ol,
#ja-botsl ul, #ja-botsl p, #ja-botsl ol { margin: 0; padding: 0; }

#ja-topsl a, #ja-botsl a { }

#ja-topsl a:hover, #ja-topsl a:active, #ja-topsl a:focus,
#ja-botsl a:hover, #ja-botsl a:active, #ja-botsl a:focus { }

/* Top spotlight ---*/
#ja-topsl { }

#ja-topsl .main { padding: 20px 0 0; }

#ja-topsl h3 { margin: 0 0 8px; }

/* Bot spotlight ---*/
#ja-botsl { }

#ja-botsl .main { padding: 20px 0 0; }

#ja-botsl .ja-moduletable, #ja-botsl .moduletable { margin-bottom: 20px; }

#ja-botsl h3 { margin: 0 0 8px; }

.ja-box-right .ja-moduletable, .ja-box-right .moduletable,
.ja-box-full .ja-moduletable, .ja-box-full .moduletable { }

/* FOOTER
--------------------------------------------------------- */
#ja-footer { clear: both; padding: 20px 0; }

#ja-footer .main { padding: 0; position: relative; text-align: center; }

#ja-footer .inner { padding: 0; }

#ja-footer small { font-size: 100%; }

/* Foot Links ---*/
#ja-footer .ja-footnav { font-size: 100%; margin: 10px 0; overflow: hidden; position: relative; }

.ja-footnav ul { line-height: normal; }

.ja-footnav li { display: inline; padding: 0 5px; }

.ja-footnav li a { }

.ja-footnav li a:hover, .ja-footnav li a:active, .ja-footnav li a:focus { }

/* Copyright Info. ---*/
.ja-copyright small { display: block; }

/* MISCELLANOUS
----------------------------------------------------------- */
/* User Tools ---*/
ul.ja-usertools-font { }

ul.ja-usertools-font li, ul.ja-usertools-screen li { background: none; display: inline; margin: 0; padding: 0; }

ul.ja-usertools-screen { }

/* Others ---*/
#ja-poweredby { margin: 0 auto; }

#ja-banner { overflow: hidden; text-align: center; width: 100%; }

div.ja-innerdiv { clear: both; margin-bottom: 10px; padding-bottom: 10px; }

div.ja-innerdiv h4 { margin: 5px 0; padding: 0; }

a.ja-cpanel-video {
	background: url(../images/icons/icon-youtube.png) no-repeat center center #fff;
	border: 1px solid #999;
	color: #666;
	display: block;
	font-weight: bold;
	padding: 0;
	text-decoration: none;
	text-indent: -9999px;
	width: 22px;
	height: 22px;
	position: absolute;
	right: 10px;
	bottom: 10px;
}

a.ja-cpanel-video span { color: #666; }

a.ja-cpanel-video:hover,
a.ja-cpanel-video:focus,
a.ja-cpanel-video:active { border-color: #666; text-decoration: none; }

a.ja-cpanel-video:hover span { color: #0F85D8; }

/* T3 Logo ---*/
.t3-logo, .t3-logo-sm { display: block; }

.t3-logo, .t3-logo a { width: 200px; height: 34px; }

.t3-logo-sm, .t3-logo-sm a { width: 77px; height: 34px; }

.t3-logo a, .t3-logo-sm a {
	display: block;
	text-indent: -1000em;
	background-repeat: no-repeat;
	background-position: center;
}

.t3-logo-light a { background-image: url(http://joomlart.s3.amazonaws.com/t3/logo/t3_logo_light.png); }
.t3-logo-dark a { background-image: url(http://joomlart.s3.amazonaws.com/t3/logo/t3_logo_dark.png); }

.t3-logo-light-sm a { background-image: url(http://joomlart.s3.amazonaws.com/t3/logo/t3_logo_light_sm.png); }
.t3-logo-dark-sm a { background-image: url(http://joomlart.s3.amazonaws.com/t3/logo/t3_logo_dark_sm.png); }
