/*
# ------------------------------------------------------------------------
# JA T3 System plugin for Joomla 1.6
# ------------------------------------------------------------------------
# Copyright (C) 2004-2009 J.O.O.M Solutions Co., Ltd. All Rights Reserved.
# @license - GNU/GPL, http://www.gnu.org/licenses/gpl.html
# Author: J.O.O.M Solutions Co., Ltd
# Websites: http://www.joomlart.com - http://www.joomlancers.com
# ------------------------------------------------------------------------
*/

/* CPanel ---*/
#ja-cpanel-wrapper {
	position: fixed;
	top: 0;
	right: 15px;
	z-index: 1000;
	font-size: 12px;
}

#ja-cpanel a {
	color: #000;
}

#ja-cpanel {
	position: absolute;
	top: -1000px;
	right: 0;
	border-top: 0;
}

#ja-cpanel-main {
	font-size: 92%;
	background: #fff;
	color: #000;
	border: 1px solid #ccc;
	margin-right: -1px;
	margin-top: -3px;
	width: 300px;
}

#ja-cpanel-main h3 {
	font-size: 90%;
	clear: both;
	text-transform: uppercase;
	margin: 0;
	background: #f7f7f7;
	padding: 5px 10px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

#ja-cpanel-main h3:first-child {border-top: 0;}

#ja-cpanel-main ul {
	clear: both;
	padding: 10px;
	margin: 0;
	width: auto;
}

#ja-cpanel-main ul li {
	float: left;
	width: 45%;
	padding: 2px 0;
	margin-right: 10px;
}

.ja-box-usertools { background: #fff; }

.ja-cpanel-tools {
	max-height: 400px;
}

/* Toggle BTN ---*/
a#ja-cpanel-toggle {
	display: block;
	line-height: 24px;
	padding: 0 10px;
	background: #333;
	color: #ccc;
	font-size: 10px;
	text-transform: uppercase;
	position: absolute;
	right: 0;
	top: 0;
}

a#ja-cpanel-toggle:hover,
a#ja-cpanel-toggle:active,
a#ja-cpanel-toggle:focus {
	text-decoration: none;
}

a#ja-cpanel-toggle:hover,
#ja-cpanel-toggle.open {
	color: #fff;
	background: #069;
}

#ja-cpanel-toggle.open {}

/* Font Tool ---*/
#ja-cpanel-main ul.ja-usertools-font {
	width: 65px;
	height: 20px;
	background: url(../images/usertools/font-tool.gif) no-repeat center #fff;
}

#ja-cpanel-main ul.ja-usertools-font li {
	float: left;
	width: 33%;
	height: 20px;
	cursor: pointer;
	margin: 0;
}

#ja-cpanel-main ul.ja-usertools-font li a {
	width: 100%;
	display: block;
	height: 20px;
}

#ja-cpanel-main ul.ja-usertools-font li a span {
	position: absolute;
	top: -1000px; 
}

/* Cpanel Head --- */
.ja-cpanel-head {
	border-bottom: 1px solid #ccc;
	display: block;
	clear: right;
}

.ja-cpanel-head a {
	display: inline-block;
	padding: 6px 10px 3px;
	border-right: 1px solid #ccc;
}

.ja-cpanel-head a.first {
	background: url(../images/usertools/t3_logo_light_sm.png) no-repeat 10px 9px;
	padding-left: 50px;
}

.ja-cpanel-head a:hover,
.ja-cpanel-head a:active,
.ja-cpanel-head a:focus {
	background-color: #f7f7f7;
	text-decoration: none;
}

/* Actions Bar--- */
.ja-cpanel-action {
	padding: 10px 15px;
	background: #ccc;
	clear: both;
	overflow: hidden;
}

.ja-cpanel-action a.button {
	display: inline-block;
	border: 1px solid #333;
	background: #333;
	color: #fff !important;
	padding: 2px 10px;
	font-weight: bold;
	margin-right: 10px;
}

.ja-cpanel-action a {
	float: left;
}

.ja-cpanel-action a.ja-cpanel-video {
	float: right;
}

.ja-cpanel-action a.button span {}

.ja-cpanel-action a.button:hover,
.ja-cpanel-action a.button:active,
.ja-cpanel-action a.button:focus {
	border: 1px solid #ddd;
	text-decoration: none;
}

