/* COMMON STYLE
--------------------------------------------------------- */
body {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
}

body#bd { background: #fff; color: #333; }

/* Normal links ---*/
a { color: #069; text-decoration: none; }

a:hover, a:active, a:focus { text-decoration: underline; color: #333; }

/* Readon links ---*/
p.readmore a { text-transform: uppercase; }

.contentheading, .componentheading, h1, h2, h3, h4, h5 {
  font-family: Georgia, "Times New Roman", Times, serif;
}

h1.componentheading, .componentheading {
  border-bottom: 1px solid #ccc;
  font-weight: normal;
}

h2.contentheading, .contentheading {
  font-weight: normal;
}

.contentheading { font-size: 200%; }

.blog-featured .contentheading { font-size: 150%; }

.jitem-title { font-size: 110%; font-weight: bold; }

/* Others ---*/
hr { border-top: 1px solid #ccc; }

/* FORM
--------------------------------------------------------- */
input, select, textarea, .inputbox {
  padding: 2px;
  font-family: Helvetica, Arial, sans-serif;
}

.inputbox { border: 1px solid #ccc; background: #fff; }

.inputbox:hover, .inputbox:focus { background: #ffffcc; }

/* Search ---*/
form#searchForm { border-top: 1px solid #ccc; }

.searchintro { border-bottom: 1px solid #ccc; }

.results h4 { text-transform: none; font-size: 110%; }

.search fieldset { border: 1px solid #ccc; margin: 15px 0; padding: 10px; }

.search legend {  font-size: 100%; font-weight: bolder; line-height: 1.2; margin-left: 10px; }

/* Contact ---*/
#component-contact #emailForm { border-top: 1px solid #ccc;}

#contact-slider {
  float: none;
  border-bottom: 1px solid #e2e2b5;
}

#contact-slider .title {
  padding: 8px 10px;
  border-top: 1px solid #e2e2b5;
  border-left: 1px solid #e2e2b5;  
  border-right: 1px solid #e2e2b5;
  margin: 0;
}

#contact-slider .jpane-toggler-down {
  background: #333333;
}

#contact-slider .jpane-toggler-down a {
  color: #fff;
}

#contact-slider dt.closed {
  background: #ffffcc;
}

#contact-slider .content {
  border: 1px solid #e2e2b5;
  padding: 8px 10px;
}

#contact-slider .contact-image {
  margin: 15px 0;
  float: right;
}

/* -- EDITOR STYLES ----------------------------- */
#adminForm fieldset {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
}

#adminForm fieldset legend {
  padding: 0 5px;
}

/* JOOMLA STYLE
--------------------------------------------------------- */
/* Layout Deco ---*/
.items-leading { border-bottom: 1px solid #ccc; }

.items-row { border-bottom: 1px solid #ccc; }

/* Meta ---*/
dl.article-info { color: #999; text-transform: none; }

.contentdescription { border-bottom: 1px solid #ccc; }

ul.actions li {
  display: inline;
  background: none;
  padding: 0;
  margin: 0;
  line-height: 1;
}

/*Inline images ---*/
p.img_caption { color: #999; text-transform: uppercase; }

/* Tables ---*/
thead tr th {
  background: #333;
  color: #fff;
  padding: 5px;
}

thead tr th a,
thead tr th a:hover,
thead tr th a:focus,
thead tr th a:active { color: #fff; }

.cat-list-row1,
.cat-list-row12,
tr.cat-list-row1 td,
tr.cat-list-row2 td { border-bottom: 1px solid #ccc; padding: 5px; }

.cat-list-row1:hover,
.cat-list-row2:hover { background: #ffffcc; }

.cat-list-row2,
tr.cat-list-row2 td { background-color: #f6f6f6; }

/* Content Toc */
table.contenttoc { border: 1px solid #ccc; }

table.contenttoc td { border-bottom: 1px dotted #ccc; }

table.contenttoc th {
  background: #f6f6f6;
  border-bottom: 1px solid #ccc;
  text-transform: uppercase;
}

/* Poll */
form#poll {
  border-bottom: 1px dotted #ccc;
  font-weight: bold;
}

dl.poll { border-bottom: 1px dotted #ccc; }

table.pollstableborder td {
  background: #f6f6f6;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
  padding: 5px !important;
}

table.pollstableborder tr.sectiontableentry0 td,
table.pollstableborder tr.sectiontableentry1 td { background: #fff; font-weight: normal; }

/* Pagination ---*/
.pagination li span,
.pagination li strong { line-height: 20px; }

.items-more { border-bottom: 1px solid #ccc; }

.items-more h3 { font-size: 125%; }

/* MODULE STYLES
--------------------------------------------------------- */
div.ja-moduletable h3, div.moduletable h3 {
  font-size: 100%;
  text-transform: uppercase;
  font-family: Helvetica, Arial, sans-serif;
  border-bottom: 1px solid #ccc;
}

/* Login Module ---*/
#login-form ul li {
  background: url(../images/bullet.gif) no-repeat 2px 8px;
  line-height: 160%;
  margin-bottom: 5px;
  overflow: hidden;
  padding-left: 12px;
}

/* Advertisement ---*/
div.bannergroup_text div.banneritem { border-bottom: 1px dotted #ccc; padding:5px 0; }

/* MAIN LAYOUT DIVS
--------------------------------------------------------- */
#ja-container .main { padding: 20px 0 0; }

.main .main-inner1 { margin-left: 0; margin-right: 0; }

/* HEADER
--------------------------------------------------------- */
#ja-header .main { border-bottom: 1px solid #ccc; }

h1.logo, div.logo-text h1 { font-size: 250%; line-height: 1; margin-left: 10px;}

/* Logo Image ---*/
/*h1.logo { width: 210px; height: 30px; }

h1.logo a {
  background: url(../images/t3_logo_light_16.png) no-repeat left;
  display: block;
  width: 350px;  
  height: 34px;
}
*/
/*--- User Image Logo Image ---*/
h1.logo {width: 150px; height: 86px;}

h1.logo a {
  background: url(http://www.iacusn.org/Nationals/templates/ja_t3_blank/images/Logos/nationalslogo150.png) no-repeat left;
  width: 150px;
  height: 86px;
}

/* Logo Text ---*/
div.logo-text h1 {
  font-size: 200%;
  font-family: Arial, sans-serif;
  font-weight: bold;
}

div.logo-text h1 a {
  text-decoration: none;
}

p.site-slogan {
  color: #ccc;
  display: block;
  font-size: 85%;
  margin: 3px 0 0;
  padding: 0 10px;
  text-transform: uppercase;
}

/* NAVIGATION
--------------------------------------------------------- */
/* Main Nav ---*/
#ja-mainnav .main { border-bottom: 1px solid #ccc; }

/* Breadcrumbs ---*/
#ja-navhelper .main {
  text-transform: uppercase;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.ja-breadcrums {
  text-indent: 10px;
}

/* Extras ---*/
.ja-links { padding-right: 10px; }

.ja-links li { padding: 0 10px; }

/* Default Joomla! Menu ---*/
#ja-container ul.menu li { border-bottom: 1px dotted #ccc; }

#ja-container ul.menu li li { border-bottom: 0; border-top: 1px dotted #ccc; }

/* SPOTLIGHT
--------------------------------------------------------- */
#ja-topsl .ja-box, #ja-botsl .ja-box { 
  background: url(../images/dot-1.gif) repeat-y right;
}

#ja-topsl .ja-box-right, #ja-botsl .ja-box-right {
  background: 0;
}

#ja-topsl .ja-moduletable, #ja-botsl .ja-moduletable {
  margin-top: 10px;
  margin-bottom: 10px;
}

#ja-topsl div.ja-moduletable h3,
#ja-botsl div.ja-moduletable h3 { border-bottom: 0; padding-bottom: 0; }

#ja-topsl ul.menu li, #ja-botsl ul.menu li,
#ja-topsl ul.latestnews li, #ja-botsl ul.latestnews li,
#ja-topsl ul.weblinks li, #ja-botsl ul.weblinks li {
  background: url(../images/bullet.gif) no-repeat 1px 6px;
  line-height: 160%;
  margin-bottom: 5px;
  overflow: hidden;
  padding-left: 10px;
}

/* Top spotlight ---*/
#ja-topsl .main { padding: 0; }
#ja-topsl .main-inner1 { padding: 10px 0; border-bottom: 1px solid #ccc; }

/* Bot spotlight ---*/
#ja-botsl .main { padding: 0; }
#ja-botsl .main-inner1 { padding: 10px 0; border-top: 1px solid #ccc; }

/* MISCELLANOUS
----------------------------------------------------------- */
/* Others ---*/
#ja-top-panel .main-inner1 {
  border: 2px dotted #e2e2b5;
  padding: 5px 10px;
  text-align: center;
  margin-top: 15px;
  background: #ffffcc;
  position: relative;
}

#ja-banner { border-top: 1px solid #ccc; }

div.ja-innerdiv { border-bottom: 1px dotted #ccc; }

div.ja-innerdiv h4 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 92%;
  font-weight: normal;
  text-transform: uppercase;
}

a.ja-icon-video {
  background: url(../images/icon-youtube.gif) no-repeat 5px 8px #fff;
  border: 1px solid #ccc;
  color: #666;
  display: block;
  font-weight: bold;
  position: absolute;
  padding: 5px 5px 5px 43px;
  right: 10px;
  top: 8px;
  text-decoration: none;
  width: 35px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 0 0 3px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, .2);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .2);
}
a.ja-icon-video span { color: #666; }

a.ja-icon-video:hover,
a.ja-icon-video:focus,
a.ja-icon-video:active { border-color: #ddd; text-decoration: none; }

a.ja-icon-video:hover span { color: #0F85D8; }

#ja-absolute .main {
  position: fixed;
  width: auto;
  height: auto;
  z-index: 99999;
  top: 1px;
  left: 1px;
}

#ja-absolute .main a {
  width: 91px;
  height: 99px;
  overflow: hidden;
  display: block;
  background: url(../images/joomla15.png) no-repeat left top #fff;
  text-indent: -9999px;
}

#ja-absolute .main a:hover,
#ja-absolute .main a:focus {
  background-position: left bottom;
  text-decoration: none;
}
